* {
  box-sizing: border-box;
}

body {
  display: grid;
  display: flex;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  background-color: #fff;
  color: #211221;
}

button {
  cursor: pointer;
}

