.post-feed {
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.post-feed__item + .post-feed__item {
  margin-top: 24px;
}

.post {
  padding: 8px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.post__header {
  display: flex;
  align-items: flex-end;
  align-items: center;
  margin-bottom: 24px;
}

.post__avatar {
  display: block;
  border-radius: 50%;
  overflow: hidden;
}

.post__meta {
  margin-left: 16px;
}

.post__author,
.post__date {
  margin-top: 0;
  margin-bottom: 0;
}

.post__author {
  font-weight: 500;
  margin-bottom: 4px;
  line-height: 1.5;
}

.post__text {
  margin-top: 0;
  margin-bottom: 24px;
  line-height: 1.5;
}

.post__footer {
  padding: 4px;
}

.tag-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.tag-list__item {
  margin-right: 4px;
  margin-left: 4px;
}

.tag-list__link {
  display: block;
  padding: 4px 8px;
  border-radius: 2px;
  text-decoration: none;
  background-color: #3f51b5;
  color: #fff;
}
